/* Set the dark theme for the extension */
body {
    background-color: #2c2c2c;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    min-width: 220px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 25px;
    flex-direction: column;
    align-items: center;
}

/* Apply light color to the text and links */
p,
a {
    color: #f0f0f0;
    font-size: 14px;
}

.hidden {
    display: none;
}

a:hover {
    color: #a0a0a0;
}

#title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#title {
    font-weight: 100;
    font-size: 1.2rem;
    color: lightcyan;
}

#open-settings-btn {
    background-image: url("../../assets/images/settings.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

#chat-section {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Material UI button style */
.material-button {
    border: none;
    color: white;
    background-color: #2c2c2c;
    border: 1px solid white;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    align-items: center;
}

.material-button:hover {
    background-color: white;
    color: black;
}

#buttonText {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#icon {
    padding-right: 5px;
}

.video-container {
    display: none;
}

/* Settings menu */
#home-button {
    margin-bottom: 20px;
}

#toggle-video {
    margin-bottom: 20px;
}