body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    width: 400px;
    font-size: var(--dynamic-font-size, 14px);
}

.material-button,
.button,
#info-message {
    font-size: var(--dynamic-font-size, 14px);
}

a {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    color: #a0a0a0;
}

.hidden {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
}

/* Title & Settings Button */
.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-weight: 500;
    font-size: var(--dynamic-font-size * 2, 28px);
    color: lightcyan;
}

.nav-button {
    margin-left: 20px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
}

/* GPT Buttons */
.button-container {
    display: flex;
    flex-direction: row;
}

.material-button {
    color: white;
    background-color: #202020;
    border: 2px solid lightgray;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    align-items: center;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    margin: 10px;
}

.material-button:hover {
    color: lightgreen;
    border: 2px solid lightgreen;
}

.button-icon {
    padding-right: 15px;
}

#info-message {
    text-align: center;
    font-weight: 400;
    color: lightcyan;
}

/* GPT Response */
.response-container {
    min-height: 150px;
    max-width: 400px;
    padding-top: 0;
    margin: 0
}

#analyze-code-response {
    padding: 15px;
}

.code-btn {
    display: flex;
    align-items: center;
    background-color: #222;
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
}

.code-btn:hover {
    border: 2px solid lightgreen;
}

#clear-code-btn {
    margin-left: 10px;
}

/* Settings */
#settings-icon {
    width: 30px;
    height: 30px;
}

.settings-btn {
    width: 220px;
    height: 35px;
    display: flex;
    justify-content: start;
}

.settings-btn span {
    margin-left: 20px;
    margin-right: 25px;

}

#settings-menu {
    text-align: center;
}

.video-container {
    display: none;
}

#toggle-video {
    margin-bottom: 20px;
}

#toggle-video:hover {
    background-color: darkgreen;
}

.select {
    text-align: center;
}

#show-examples-icon {
    padding-right: 5px;
}

#review {
    padding-top: 10px;
}