/* Set the dark theme for the extension */
body {
    background-color: #2c2c2c;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    min-width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 25px;
    flex-direction: column;
}

/* Apply light color to the text and links */
p,
a {
    color: #f0f0f0;
    font-size: 14px;
}

a:hover {
    color: #a0a0a0;
}

/* Material UI button style */
.material-button {
    background-color: lavender;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    min-width: 200px;
}

.material-button:hover {
    background-color: #45a049;
    color: white;
}

/* Class for hidden elements */
.hidden {
    display: none;
}